<article>
  <div class="about">
    <div class="gbook">
      <div class="fb">
        <ul>
          <p class="fbtime"><span>
              2018-08-04 </span> 去年这个时候</p>
          <p class="fbinfo">时间过得那么飞快,使我的小心眼儿里不只是着急,还有悲伤.有一天,我放学回家,看到太阳快落山了,就下决心说:&quot;我要比太阳更快地回家.&quot;我狂奔回去,站在庭院前喘气的时候,看到太...</p>
        </ul>
      </div>
      <div class="hf">
        <ul>
          <p class="zzhf">
            <font color="#FF0000">站长回复:</font>那时我三年级,常常把哥哥五年级的作业拿来做.每一次比赛胜过时间,我就快乐得不知道怎么形容
          </p>
        </ul>
      </div>
      <div class="fb">
        <ul>
          <p class="fbtime"><span>
              2018-08-04 </span> doudou小子</p>
          <p class="fbinfo">个人博客，用来做什么？我刚开始就把它当做一个我吐槽心情的地方，也就相当于一个网络记事本，写上一些关于自己生活工作中的小情小事，也会放上一些照片，音乐。每天工作回家后就能访问自己的网站，一边听着音乐，一边写写文章</p>
        </ul>
      </div>


      <div class="hf">
        <ul>
          <p class="zzhf">
            <font color="#FF0000">站长回复:</font>如果你想做一个博客,赶紧行动起来,给自己定一个时间期限,买域名,买空间,备案,制作模板,,,一步一步来实现,停滞不前,注定就会输了这场比赛.
          </p>
        </ul>
      </div>





      <div class="fb">
        <ul>
          <p class="fbtime"><span>
              2018-08-04 </span> 步非烟</p>
          <p class="fbinfo">自从入了这行，很多人跟我说可以做网络教程，我也有考虑，但最终没有实现，因为我觉得在这个教程泛滥的时代，直接做一套免费的原创个人博客模板更为实在。</p>
        </ul>
      </div>





      <div class="fb">
        <ul>
          <p class="fbtime"><span>
              2018-08-04 </span> dancesmile</p>
          <p class="fbinfo">可能，你觉得自己没有足够得优秀，但我始终相信你仍然在努力坚持着!</p>
        </ul>
      </div>





      <div class="gbox">
        <form action="../../enews/index.php" method="post" name="form1" id="form1">
          <p> <strong>来说点儿什么吧...</strong></p>
          <p><span> 您的姓名:</span>
            <input name="name" type="text" id="name" />
            *</p>
          <p><span>联系邮箱:</span>
            <input name="email" type="text" id="email" />
            *</p>
          <p><span class="tnr">留言内容:</span>
            <textarea name="lytext" cols="60" rows="12" id="lytext"></textarea>
          </p>
          <p>
            <input type="submit" name="Submit3" value="提交" />
            <input name="enews" type="hidden" id="enews" value="AddGbook" />
          </p>
        </form>
      </div>
    </div>
  </div>
  </div>
</article>