<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理后台</title>
    <link rel="stylesheet" href="/static/backend/layui/css/layui.css">
</head>
<body {{if .IsLogin}} class="login-bg" {{end}}>

{{.LayoutContent}}

<script src="/static/backend/layui/layui.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
                ,form = layui.form;

        layer.msg('Hello World');
    });
</script>
</body>
</html>